@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    1900 Commerce Street<br />
    Tacoma, WA 98402-3100<br />
    <abbr title="Phone">P:</abbr>
    253.692.4400
</address>
<address>
    <strong>Find Us At:</strong>   <a href="http://www.tacoma.uw.edu/institute-technology/institute-technology">Univeristy of Washington Tacoma Institute of Technology</a><br />
    <strong>Or Email Us:</strong><strong> w13@uw.edu or harkg@uw.edu</strong><br />
</address>