@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Yi And Hark's Library System</h1>
    <p class="lead">The text shown above is our project title.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Yi And Hark's Library System</h2>
        <p>
            This project is for our TINFO 431 course, our team members are Harkaran Grewal and Yi Weng.
        </p>
    </div>
    <div class="col-md-4">
        <h2>What is included of this project?</h2>
        <p>Our idea is to build up one library system which has inventorys, consumers and traction history.</p>
    </div>
</div>